.popular__products {
    margin-top: 25px;
    .products__slider {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
    }
    .products__title {
        // font-weight: 700;
        // font-size: 20px;
    }
    .product-card {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
}