.product-preview__preview {
    background-color: white;
    border-radius: 6px;
    padding: 34px;
    .preview__upside {
        display: flex;
        .upside__right {
            display: flex;
            margin-left: 34px;
            .preview__info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .preview__title {
                font-size: 24px;
                line-height: 150.93%;
            }
            .preview__actions {
                display: flex;
                margin-left: 22px;
                .preview__action {
                    width: 30px;
                    height: 30px;
                    background-color: $darkBlue;
                    padding: 7px;
                    border-radius: 8px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    &:last-child {
                        margin-left: 20px;
                    }
                }
            }
            .preview__price {
                font-size: 20px;
                font-weight: 700;
            }
            .preview__available {
                span {
                    color: #2805FF;
                }
            }
            .preview__stars {
                display: flex;
                img {
                    width: 32px;
                    height: 32px;
                    margin-left: 6px;
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
            .preview__buttons {
                button {
                    background-color: #F1F1F1;
                    border: none;
                    outline: none;
                    color: black;
                    border-radius: 9px;
                    padding: 12px 30px;
                    transition: all 0.2s linear;
                    cursor: pointer;
                    &:hover {
                        background-color: $lightBlue;
                        color: white;
                    }
                }
            }
            // .product__actions {
            //     display: flex;
            // }
            // .product__cart,
            // .product__favourite {
            //     padding: 7px;
            //     background-color: #F0F0F0;
            //     border-radius: 8px;
            // }
            // .product__action:last-child {
            //     margin-left: 10px;
            // }
        }
        .upside__left {
            .preview__image {
                width: 268px;
                height: 268px;
                img,
                picture {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .preview__images {
                display: flex;
                margin-top: 22px;
                justify-content: space-between;
                align-items: center;
                img,
                picture {
                    width: 40px;
                    height: 40px;
                    object-fit: contain;
                }
            }
        }
    }
    .preview__bottomside {
        margin-top: 30px;
        .bottomside__products {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .products__item {
            height: 125px;
            width: 395px;
            display: flex;
            align-items: center;
            padding: 15px;
            background-color: #F6F6F6;
            border-radius: 8px;
            .item__img {
                width: 78px;
                height: 78px;
                img,
                picture {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .item__info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-self: stretch;
                margin-left: 10px;
            }
            .info__name {
                font-size: 12px;
            }
            .info__price {
                font-weight: 700;
                font-size: 14px;
            }
            .info__stars {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
            .info__available {
                font-size: 12px;
                span {
                    color: #2805FF;
                }
            }
            .info__comments {
                font-size: 10px;
            }
            .info__row {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .info__stars {
                display: flex;
            }
            .item__actions {
                align-self: flex-start;
                display: flex;
                margin-left: 10px;
                .preview__action {
                    width: 30px;
                    height: 30px;
                    background-color: white;
                    padding: 7px;
                    border-radius: 8px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    &:last-child {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.product-preview__description {
    margin-top: 20px;
    padding: 30px;
    background-color: white;
    .description__title {
        font-weight: 700;
        font-size: 20px;
    }
    .description__text {
        font-weight: 400;
        font-size: 16px;
        margin-top: 22px;
        line-height: 183.69%;
    }
}

.product-preview__property {
    padding: 30px;
    background-color: white;
    margin-top: 20px;
    .property__title {
        font-weight: 700;
        font-size: 20px;
    }
    .property__list {
        margin-top: 40px;
        display: grid;
        grid-gap: 30px 20px;
        grid-template-columns: 1fr 1fr;
    }
    .property__row {
        display: flex;
        justify-content: space-between;
        margin-top: 22px;
    }
    .property__name {
        flex: 0 0 50%;
    }
    .property__value {
        text-align: right;
    }
    .property__innertitle {
        font-weight: 700;
        font-size: 16px;
    }
}

.product-preview__comments {
    padding: 30px;
    background-color: white;
    margin-top: 20px;
    .comments__title {
        font-weight: 700;
        font-size: 20px;
    }
    .comments__comment {
        padding: 24px 0;
        display: flex;
        .comment__photo {
            flex: 0 0 48px;
            height: 48px;
            img,
            picture {
                width: 100%;
                height: 100%;
            }
        }
        .comment__inner {
            margin: 0 20px;
            margin-right: 50px;
        }
        .comment__row {
            display: flex;
            align-items: center;
        }
        .comment__user {
            font-size: 18px;
            font-weight: 700;
        }
        .comment__date {
            margin-left: 10px;
        }
        .comment__stars {
            display: flex;
            img {
                margin-left: 5px;
                margin-top: 10px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        .comment__text {
            margin-top: 15px;
        }
    }
}