*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    background-color: #F0F0F0;
}

html,
body,
#__next,
.container,
.wrapper {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

    font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.button {
    padding: 15px 65px;
    background: #001B48;
    border-radius: 12px;

    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;

    outline: none;
    height: 100%;
    border: 0;

    cursor: pointer;
    transition: all 0.2s linear;
}

.button:hover {
    background: white;
    color: #001B48;
}

a {
    color: inherit;
    text-decoration: none;
}

.search-field {
    min-width: 350px;

    padding: 10px 25px;
    background: #FFFFFF;
    border-radius: 7px;
    border: none;
    outline: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #0D2334;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;

    display: flex;
    height: 100%;
}

.sidebar {
    flex: 0 0 220px;
    margin-right: 15px;
    color: #001B48;
}

.content {
    flex: 1 1 100%;
    height: 100%;
    overflow: hidden;
}

.sidebar__title {
    margin-bottom: 30px;
}

.sidebar__item {
    display: flex;
    margin-bottom: 32px;
}

.sidebar__item:last-child {
    margin-bottom: 0px;
}

.sidebar__item:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: black;
    margin-right: 20px;
}


.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__up-wrapper {
    color: white;
    background-color: #001B48;
    width: 100%;
}

.header__up {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 0px;
}

.header__upnav {
    display: flex;
    align-items: center;
}

.header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0px;
}

.header__bottomnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__city {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
}

.upnav__item {
    margin-right: 35px;
}

.upnav__item:last-child {
    margin-right: 0;
}

.header__phone {
    font-weight: bold;
}

.bottomnav__item {
    margin-right: 20px;
    color: #0F2853;
}

.bottomnav__item:last-child {
    margin-right: 0;
}

.container {
    width: 1100px;
    padding: 0 5px;

    margin: 0 auto;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/*  */

.card-standard {
    background-color: white;
    background: #FFFFFF;

    border-radius: 8px;

    min-width: 250px;
    min-height: 400px;

    width: 250px;

    padding: 19px;

    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.card__image img {
    width: 112px;
    height: 130px;

    margin-bottom: 7px;
}

.card__title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 12px;
}

.card__row {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 12px;
}

.card__row:last-child {
    margin-bottom: 0;
}

.card__price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 136.69%;
    color: #000000;
}

.card__action {
    display: flex;
    align-items: center;
}

.card__action>* {
    margin-right: 7px;
}

.card__action>*:last-child {
    margin-right: 0;
}

/* CART BUTTON */
.cart-buton {
    width: 35px;
    height: 35px;

    background-color: #F6F6F6;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.stars>* {
    margin-right: 4px;
}

.stars>*:last-child {
    margin-right: 0px;
}

.card__ratings {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 136.69%;
}

.card__available {
    width: 100%;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.69%;

    color: #000000;
}

.card__available span {
    color: #2805FF;
}

.product__available_count {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.69%;

    color: #000000;
}


.product__available_count span {
    color: #2805FF;
}

.product-item {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'PT Sans', sans-serif;
    display: flex;
    column-gap: 15px;
    padding: 24px;
}

.product-item__info {
    display: flex;
    flex-direction: column;
}

.product-item__info_top {
    display: flex;
    column-gap: 10px;
}

.product-item__action {
    display: flex;
    column-gap: 10px;
}

.product-item__info_center {
    display: flex;
    align-items: center;
    grid-gap: 10px 15px;
    flex-wrap: wrap;
    margin: 10px 0 15px;
}

.product-item__info_bottom {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: space-between;
}

.product-item__button {
    background: #F6F6F6;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.product-item__reviews-count {
    font-size: 14px;
}


.card-small {
    display: flex;
    width: 400px;
    height: 130px;

    background: #F7F7F7;
    border-radius: 8px;
    padding: 18px;

    justify-content: space-between;
    align-items: stretch;
}

.row-space-btw {
    display: flex;
    justify-content: space-between;
}

.card-small .card__title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150.93%;

    width: 170px;
    word-break: break-all;
    margin-bottom: 0;
}

.card-small .card__column {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.card-small .card__column:last-child {
    margin-right: 0;
}

.card-small .card__row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.card-small .card__row:last-child {
    margin-bottom: 0;
}


.card-small .card__column .card__image {
    height: 100%;
}

.card-small .card__column .card__image img {
    height: 100%;
    width: auto;
    margin-bottom: 0;
}

.card__row .row__inner {
    display: flex;
}

.card__row .card__price {
    margin-right: 15px;
}

.card__row .card__available {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 136.69%;

    width: auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promotion-slider {
    height: 340px;
    border-radius: 11px;
    position: relative;
    overflow: hidden;
}

.promotion-slider .swiper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.promotion-image {}


.promotion-left {

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 20px;
    z-index: 100;

    cursor: pointer;

}

.promotion-left svg ellipse,
.promotion-right svg ellipse {
    transition: all 0.1s linear;
}

.promotion-left:hover svg ellipse,
.promotion-right:hover svg ellipse {
    fill: rgba(255, 255, 255, 0.247);
}


.promotion-right {

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;
    z-index: 100;

    cursor: pointer;
}

.promotion-slider .swiper-scrollbar {
    background-color: rgba(205, 205, 205, 0.18);
    border-radius: 7px;
    /* left: 50px !important;
    right: 50px !important;
    bottom: 10px !important; */
    width: 80% !important;
    left: 50% !important;
    bottom: 10px !important;
    transform: translate(-50%, 0px) !important;
}

.promotion-slider .swiper-scrollbar-drag {
    background-color: rgba(3, 67, 173, 0.54);
    ;
}

.promotion-content {
    position: absolute;
    color: white;
    z-index: 100;
    bottom: 40px;
    left: 40px;
    right: 40px;

    display: flex;
    justify-content: space-between;

    text-align: left;
}

.promotion__left {
    flex: 0 0 50%;
}

.promotion__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 20px;
}

.promotion__desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.promotion__button {
    padding: 25px 65px;
    background: #001B48;
    border-radius: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;

    outline: none;
    height: 100%;
    border: 0;
}

.promotion-slider .swiper-slide:first-child img {
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.promotion-slider .swiper-slide:last-child img {
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.category__block {
    width: 290px;
    height: 290px;

    background: #FFFFFF;
    border-radius: 20px;

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

}

.category__img {
    height: 160px;
    width: 160px;
    margin-top: 30px;
}

.category__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.category__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.category__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 23px;
}

.category__title {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.category__price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 136.69%;
}

.category__available {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.category__bottom {
    display: flex;
    justify-content: space-between;
}