.product-card {
    width: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    height: 360px;
    .card {
        @include reset-link;
        height: 100%;
        display: flex;
        flex-direction: column;
        &-row {
            margin-top: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-photo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 auto;
            height: 176px;
            margin: 0 auto;
            img {
                object-fit: contain;
                width: 115px;
                height: 135px;
            }
        }
        &-name {
            padding-top: 5px;
            min-height: 75px;
            margin-top: 7px;
            line-height: 24px;
        }
        &-price {
            font-weight: 700;
            font-size: 14px;
        }
        &-comments {
            font-size: 10px;
        }
        &-stars {
            display: flex;
            img {
                width: 20px;
                height: 20px;
                margin-left: 5px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        &-available {
            span {
                color: #2805FF;
            }
        }
    }
}